[Unit]
Description=RAD8 Interface Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/RAD8
ExecStart=python3 /home/pi/RAD8/RAD8.py 

[Install]
WantedBy=multi-user.target